<details>
  <summary>Shopping Cart</summary>
  <% if @cart.empty? %>
    <p>Empty cart.</p>
  <% else %>
    <ul>
      <% @cart.each do |id, quantity| %>
        <li><%= link_to 'decrement', decrement_path(id), method: :post %><%= Product.find(id).product_name %><%= link_to 'Remove', remove_from_cart_path(id), method: :delete %> <%= link_to '+', increment_path(id), method: :post %></li>
        <li><%= quantity %></li>
      <% end %>
    </ul>
    <%= button_to 'Check out', checkout_create_path, method: :post, params: {cart: @cart}, remote: true %>
  <% end %>
</details>

<h1><%= @category.category %></h1>

<% @category.products.each do |product| %>
  <div>
    <% if product.image.present? %>
      <figure>
        <%= image_tag product.image %>
      </figure>
    <% end %>
  </div>

  <h1><%= link_to product.product_name, product %></h1>
  <p>Price: <%= number_to_currency product.price / 100.0 %></p>

  <% if @cart.include?(product.id) %>
    <p><%= button_to 'remove from cart', remove_from_cart_path(product), method: :delete %></p>
  <% else %>
    <p><%= button_to 'add to cart', add_to_cart_path(product.id), method: :post %></p>
  <% end %>
<% end %>